In [74]:
from src.Get_data_DB import DataTransformer
from src.Process_utm import ColumnStandardizer
standardizer = ColumnStandardizer()
mysql="""select utm_medium
         from leads"""
transformer=DataTransformer()
df=transformer.fetch_from_mysql(mysql)

In [73]:
print(len(df))

60434

In [76]:
df['utm_medium'] = standardizer.transform(df['utm_medium'])

In [77]:
print(len(df))

60434

In [79]:
df=df.drop_duplicates()

In [80]:
df

      utm_medium
0           Khác
1539       ADMIN
30839    thuynth
32308     HangNT
32400     BinhND
53122     HienPT